  .gameHeader {
    text-align: center;
    font-size: 30px;
    font-family: 'Rye', cursive, Arial, Helvetica, sans-serif;
}
.gameHeader h1 {
    font-size: 70px;
    color: #ff6666;
    border-bottom: 7px dotted black;
}

.stats label{
    margin: 5px;
}



      